pkgbase = cafe-launcher
	pkgdesc = Cross-platform launcher for Blue Archive
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/bluearchive-cafe/Cafe.Launcher.Avalonia
	arch = x86_64
	license = MIT AND Apache-2.0 AND BSD-2-Clause
	makedepends = dotnet-sdk
	makedepends = git
	depends = ca-certificates
	depends = glibc
	depends = icu
	depends = krb5
	depends = libgcc
	depends = libstdc++
	depends = libunwind
	depends = lttng-ust2.12
	depends = openssl
	depends = tzdata
	depends = zlib
	depends = hicolor-icon-theme
	depends = libx11
	depends = libice
	depends = libsm
	depends = fontconfig
	depends = libxkbcommon
	options = !strip
	options = !debug
	source = cafe-launcher-source::git+https://github.com/bluearchive-cafe/Cafe.Launcher.Avalonia.git#tag=v1.1.0
	sha256sums = SKIP

pkgname = cafe-launcher
